/* common styles */

#header {
    border-bottom: 1px solid #00b3a2 !important;
    height: 91px !important;
}

#content {
    padding-top: 0px !important;
}

p.ico-v147{
    text-align: right;
    margin: 0;
    padding: 0;
}

.text-center{
    text-align: center;
}

/* css custom plugin tiles-post */

ul#post-tiles {
    padding: 0 0 10px !important;
}
#post-tiles-container {
    margin-top: 0;
    padding-top: 0;
}

ul#post-tiles li{
    margin: 0 !important;
}